@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "../../stylesSettings/_variables";
@import "../../stylesSettings/_keyframes";
@import "../../assets/fonts/_fonts";

.gallery{
    width: 100%;
    background-color: var(--main-color);
    @include flex-center;
    transition: background-color 1.7s;
    padding-top: 5rem;
}

.image-gallery{
    width: 100%;
}

// .gallery.colorchange {
//     // background-color: black;
//   }
  