@import "../src/stylesSettings/variables";
@import "../src/stylesSettings/keyframes";
@import "../src/assets/fonts/fonts";
@import "../src/stylesSettings/reset";

.block {
  width: 100%;
  @include flex-center;

  &__wrapper {
    width: 90%;
  } 
}

.padding-top{
  padding-top: 12rem;
}