@import "../../stylesSettings/_variables";
@import "../../stylesSettings/_keyframes";
@import "../../assets/fonts/_fonts";

.nav {
  &__list {
    @include dis-flex(center, center);
  }

  &__item:last-child {
    .nav__link {
      padding-right: 1rem;
    }
  }

  &__link {
    padding-right: 5rem;
    color: $black;
    cursor: pointer;
    font-family: $ltb;
    font-size: $f14;
    text-transform: uppercase;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    &:hover {
      color: $red;
    }
  }
}

.header {
  padding: 2rem 0;
  position: absolute;
  background-color: transparent;
  z-index: 10;

  .block__wrapper {
    @include dis-flex(space-between, center);
  }

  .logo {
    @include basic($f80, $f80);
     background-color: $light-black;

    &__letter {
      fill: $white;
      transition: all 0.3s ease-in-out;
      height: 5rem;
    }

    &:hover {
      .logo__hide {
        opacity: 0;
      }
    }
  }

  &__misc {
    @include dis-flex(space-between, center);
    background-image: url(../../assets/fonts/icomoon/icons8-menu.svg);
    fill: $white;
    @include basic(5rem, 5rem);
    background-size: cover;

    &:hover{
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    }
  }

  &__icon {
    font-size: $f18;
  }
}
