@import "../../../../stylesSettings/_variables";
@import "../../../../stylesSettings/_keyframes";
@import "../../../../assets/fonts/_fonts";


.ann_header-banner__photo {
    position: absolute;
    width: 800px;
    bottom: -46%;
    left: 60%;
}