@import "../../../stylesSettings/_variables";
@import "../../../stylesSettings/_keyframes";
@import "../../../assets/fonts/_fonts";

.slide {
  @include basic($slide-size, $slide-size);
  @include flex-center;
  border-radius: 50%;
  list-style: none;
  //flip
  position: relative;
  //-webkit-backface-visibility: hidden;
   backface-visibility: hidden;

  pointer-events: none;
  &::before {
    content: "";
    position: absolute;
    @include basic(95%, 95%);
    border-radius: 50%;
    border: 2rem solid transparent;
    box-shadow: inset 30px 30px 400px 400px rgba($color: $light-black, $alpha: 0.5);
    filter: blur(20px);
  }

  // &:hover {
  //   .slide__front {
  //     transform: perspective(600px) rotateY(-180deg);
  //   }

  //   .slide__back {
  //     transform: perspective(600px) rotateY(0);
  //   }
  // }

  &.flipped {
    .slide__front {
      transform: perspective(600px) rotateY(-180deg);
    }

    .slide__back {
      transform: perspective(600px) rotateY(0);
    }
  }

  &__front,
  &__back {
    @include dis-flex(space-around, center);
    @include basic(90%, 90%);
    flex-direction: column;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    transition: transform 0.5s ease;
    backface-visibility: hidden;
  }

  &__front {
    transform: perspective(600px) rotateY(0);
  }

  &__image {
    @include basic(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }

  &__play-btn {
    @include basic(3rem, 3rem);
    @include flex-center;
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;

    &--icon {
      font-size: $f18;
    }
  }

  &__date {
    color: $white;
    font-size: $f14;
    font-family: $lt;
  }

  &__title {
    font-family: $ostb;
    font-size: $f50;
    color: $white;
    text-align: center;
  }

  &__show-songs {
    @include basic(4rem, 12rem);
    @include flex-center;
    background-color: $white;
    font-family: $ost;
    color: $dark-grey;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
    cursor: pointer;

    &--title {
      font-size: $f14;
    }

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  &__hide-btn {
    position: absolute;
    bottom: 30px;
  }

  &__back {
    transform: perspective(600px) rotateY(180deg);
    background-color: $light;
  }

  &__details {
    font-size: 2.5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 70%;
  }

  &--move-left {
    transition: transform 1s;
    transform: translateX(-50vw);

    &.slide--centered {
      transform: translate(-50vw, -27rem);
      transition: transform 1s;
    }
  }
  &--move-right {
    transition: transform 1s;
    transform: translateX(50vw);

    &.slide--centered {
      transform: translate(50vw, -27rem);
      transition: transform 1s;
    }
  }
  &--centered {
    transform: translateY(-27rem);
    pointer-events: all;
  }
}

@media only screen and (max-width: 1280px) {
  .slide {
    @include basic($slide-size-laptop, $slide-size-laptop);
  }
}
