@import "../../../stylesSettings/_variables";
@import "../../../stylesSettings/_keyframes";
@import "../../../assets/fonts/_fonts";

.slide {
  @include basic($slide-size, $slide-size);
  @include flex-center;
  border-radius: 50%;
  list-style: none;
  //flip
  position: relative;
  backface-visibility: hidden;

  &::before {
    content: "";
    position: absolute;
    @include basic(100%, 100%);
    border-radius: 50%;
    border: 30px solid transparent;
    box-shadow: inset 30px 30px 400px 400px $light-black;
    filter: blur(10px);
  }

  &:hover {
    .slide__front {
      transform: perspective(600px) rotateY(-180deg);
    }

    .slide__back {
      transform: perspective(600px) rotateY(0);
    }
  }

  &__front,
  &__back {
    @include dis-flex(space-around, center);
    @include basic(90%, 90%);
    flex-direction: column;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    transition: transform 0.5s ease;
    backface-visibility: hidden;
  }

  &__front {
    transform: perspective(600px) rotateY(0);
  }

  &__image {
    @include basic(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }

  &__play-btn {
    @include basic(3rem, 3rem);
    @include flex-center;
    background-color: $white;
    border-radius: 50%;

    &--icon {
      font-size: $f18;
    }
  }

  &__date {
    color: $white;
    font-size: $f14;
    font-family: $lt;
  }

  &__title {
    font-family: $ostb;
    font-size: $f50;
    color: $white;
    text-align: center;
  }

  &__show-songs {
    @include basic(4rem, 12rem);
    @include flex-center;
    background-color: $white;
    font-family: $ost;
    color: $dark-grey;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;

    &--title {
      font-size: $f14;
    }

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  &__back {
    transform: perspective(600px) rotateY(180deg);
    background-color: $light-black;
  }

  &__songs {
    font-size: $f40;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  &--move-left {
    transition: 1s;
    transform: translateX(-50vw);
  }
  &--move-right {
    transition: 1s;
    transform: translateX(50vw);
  }
  &--centered {
    margin-bottom: $slide-size;
  }
}
