@import "../../../stylesSettings/_variables";
@import "../../../stylesSettings/_keyframes";
@import "../../../assets/fonts/_fonts";

.slide {
  @include basic($slide-size, $slide-size);
  @include flex-center;
  border-radius: 50%;
  list-style: none;
  //flip
  position: relative;
  //-webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  pointer-events: none;
  &::before {
    content: "";
    position: absolute;
    @include basic(95%, 95%);
    border-radius: 50%;
    border: 2rem solid transparent;
    box-shadow: inset 30px 30px 400px 400px rgba($color: $light-black, $alpha: 0.5);
    filter: blur(20px);
  }

  // &:hover {
  //   .slide__front {
  //     transform: perspective(600px) rotateY(-180deg);
  //   }

  //   .slide__back {
  //     transform: perspective(600px) rotateY(0);
  //   }
  // }

  &.flipped {
    .slide__front {
      transform: perspective(600px) rotateY(-180deg);
    }

    .slide__back {
      transform: perspective(600px) rotateY(0);
    }
  }

  &__front,
  &__back {
    @include dis-flex(space-around, center);
    @include basic(90%, 90%);
    flex-direction: column;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    transition: transform 0.5s ease;
    backface-visibility: hidden;
  }

  &__front {
    transform: perspective(600px) rotateY(0);
  }

  &__image {
    @include basic(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }

  &__play-btn {
    @include basic(3rem, 3rem);
    @include flex-center;
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;

    &--icon {
      font-size: $f18;
    }
  }

  &__date {
    color: $white;
    font-size: $f14;
    font-family: $lt;
  }

  &__title {
    font-family: $ostb;
    font-size: $f34;
    color: $white;
    text-align: center;
  }

  &__show-songs {
    @include basic(4rem, 12rem);
    @include flex-center;
    background-color: $white;
    font-family: $ost;
    color: $dark-grey;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
    cursor: pointer;

    &--title {
      font-size: $f14;
    }

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  &__hide-btn {
    position: absolute;
    bottom: 30px;
  }

  &__back {
    transform: perspective(600px) rotateY(180deg);
    background-color: rgba($light, 0.5);
  }

  &__vinil {
    width: 100%;
    height: 100%;

    & .vinil__album {
      font-size: $f24;
    }
  }

  &__details {
    @include flex-center;

    font-size: 2.5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    width: 50%;
    height: 50%;

    border-radius: 50%;
    overflow: hidden;
    background-color: var(--main-color);
  }

  // &__songs {

  // }

  &--move-left {
    transition: transform 1s;
    transform: translateX(-50vw);

    &.slide--centered {
      transform: translate(-50vw, -27rem);
      transition: transform 1s;
    }
  }
  &--move-right {
    transition: transform 1s;
    transform: translateX(50vw);

    &.slide--centered {
      transform: translate(50vw, -27rem);
      transition: transform 1s;
    }
  }
  &--centered {
    transform: translateY(-27rem);
    pointer-events: all;
  }
}

.vinil {
  position: relative;
  z-index: -1;

  animation: rotateVinil 60s infinite both;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(40deg, rgba(0, 0, 0, 0.25) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0.25) 75%);

    animation: rotateVinilFlare 60s infinite both;
  }

  &__image {
    position: absolute;
    width: 101%;
    height: 101%;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    object-fit: cover;
  }

  &__album {
    position: absolute;
    transform: translateX(-50%);
    top: 10%;
    left: 50%;

    width: max-content;

    font-family: "Old Standard TT Black";
    font-size: 3rem;
    color: #ffffff;
  }

  &--paused {
    animation-play-state: paused;

    &::after {
      animation-play-state: paused;
    }
  }
}

.songs {
  font-size: $f14;
  font-family: $lt;
  color: var(--secondary-color);
  @include dis-flex(center, stretch);
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    list-style-type: none;
    padding: 15px;

    border-radius: 5px;

    &:hover {
      background-color: var(--active-color);
    }
  }
}

// @media only screen and (min-width: 1440px) {
//   .slide {
//     @include basic($slide-size-big, $slide-size-big);
//     &__title {
//       font-size: $f40;
//     }
//     &__vinil .vinil__album {
//       font-size: $f30;
//     }
//   }
// }

@media only screen and (max-width: 1280px) {
  .slide {
    @include basic($slide-size-laptop, $slide-size-laptop);

    &--move-left {
      &.slide--centered {
        transform: translate(-50vw, -18rem);
      }
    }
    &--move-right {
      &.slide--centered {
        transform: translate(50vw, -18rem);
      }
    }
    &--centered {
      transform: translateY(-18rem);
    }
  }

  .songs {
    &__item {
      padding: 1rem;
      &__title {
        font-size: $f32;
      }
      &__vinil .vinil__album {
        font-size: $f22;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .slide {
    @include basic($slide-size-laptop-small, $slide-size-laptop-small);

    &__title {
      font-size: $f30;
    }

    &__vinil .vinil__album {
      font-size: $f20;
    }
  }
  .songs {
    width: 85%;
    &__item {
      padding: 0.5rem;
    }
  }
}
