//colors
$white: #ffffff;
$black: #000000;
$light-black: #231e1f;
$dark-grey: #333333;
$light-grey: #808080;
$light: #ededed;
$red: #e74c3c;
$orange: #E49975;
$peach: #ddc3ac;
$green: #79c45f;
$blue: #5f9ea0;
$yellow: #cebd7e;

//fonts
$lt: "Lato";
$ltb: "Lato-Black";
$ost: "Old Standard TT";
$ostb: "Old Standard TT Black";
$ss: "Silhouetto-Script";

$os: "OpenSans";
$osb: "OpenSans-Bold";

//font-size
$f100: 10rem;
$f80: 8rem;
$f60: 6rem;
$f55: 5.5rem;
$f50: 5rem;
$f45: 4.5rem;
$f40: 4rem;
$f34: 3.4rem;
$f32: 3.2rem;
$f30: 3rem;
$f24: 2.4rem;
$f22: 2.2rem;
$f20: 2rem;
$f18: 1.8rem;
$f16: 1.6rem;
$f14: 1.4rem;
$f12: 1.2rem;
$f10: 1rem;

//dynamic vars
$color-degre: 190;

$main-color: hsl($color-degre, 100%, 50%);

$secondary-color: hsl($color-degre + 80, 100%, 50%);

$tertiary-color: hsl($color-degre + 190, 100%, 50%);
//component-size
// $slide-size-large: 50rem;
// $slide-size-big: 40rem;
$slide-size: 62rem;
$slide-size-laptop: 50rem;
$slide-size-laptop-small: 40rem;

:root {
    --main-color: #ededed;
    --secondary-color: #231e1f;
    --logo-bg: #231e1f;
    --active-color: orange;
    --about-bg-color: white;
  }