//colors
$white: #ffffff;
$black: #000000;
$light-black: #231e1f;
$dark-grey: #333333;
$light-grey: #808080;
$light: #ededed;
$red: #e74c3c;
$orange: #E49975;
$peach: #ddc3ac;
$green: #79c45f;
$blue: #5f9ea0;
$yellow: #cebd7e;

//fonts
$lt: "Lato";
$ltb: "Lato-Black";
$ost: "Old Standard TT";
$ostb: "Old Standard TT Black";
$ss: "Silhouetto-Script";

$os: "OpenSans";
$osb: "OpenSans-Bold";

//font-size
$f80: 8rem;
$f60: 6rem;
$f55: 5.5rem;
$f50: 5rem;
$f45: 4.5rem;
$f40: 4rem;
$f24: 2.4rem;
$f20: 2rem;
$f18: 1.8rem;
$f16: 1.6rem;
$f14: 1.4rem;
$f12: 1.2rem;
$f10: 1rem;

//component-size
$slide-size: 50rem;
