@import "../../stylesSettings/_variables";
@import "../../stylesSettings/_keyframes";
@import "../../assets/fonts/_fonts";

.slider {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  // height: calc(100vh - 5rem);
  overflow: hidden;

  &__body {
    margin-top: 35rem;
    position: relative;
    @include dis-flex(space-between, center);
    width: calc(200% + #{$slide-size} + 3rem);
    padding: 0;
    transition: 1s;
  }

  &__panel {
    display: flex;
    align-items: flex-end;
    bottom: 3rem;
    position: absolute;
    cursor: pointer;
  }

  &__button {
    @include flex-center;

    &--disabled {
      pointer-events: none;
    }

    &:first-child {
      // padding-right: 40rem;
    }

    &--title {
      color: $white;
      font-size: $f14;
      text-transform: uppercase;
      font-family: $lt;
    }

    &--icon {
      // color: $orange;
      color: var(--active-color);
      font-size: $f40;
      margin: 0 3rem;
      // transform: scale(3, 1);
    }
  }
}

.absolute-bg {
  @include basic(100%, 100%);
  // background-color: $light;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.fog {
  position: relative;
  @include basic(100%, 100%);
  background-color: $black;

  &__container {
    position: absolute;
    @include basic(100%, 100%);
    overflow: hidden;
  }

  &__img {
    position: absolute;
    @include basic(100%, 300vw);

    &--first {
      background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png") repeat-x;
      background-size: contain;
      background-position: center;
      animation: marquee 80s linear infinite;
    }

    &--second {
      background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png") repeat-x;
      background-size: contain;
      background-position: center;
      animation: marquee 60s linear infinite;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .slider {
    &__body {
      width: calc(200% + #{$slide-size-laptop});
      margin-top: 27rem;
    }
  }
}
