@import "../../stylesSettings/_variables";
@import "../../stylesSettings/_keyframes";
@import "../../assets/fonts/_fonts";

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    overflow: hidden;
}

.slider__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(200% + #{$slide-size});
    height: 800px;
    padding: 0;
    transition: 1s;
}

.slider__button {
    padding: 10px 20px;
}