@import "../../stylesSettings/_variables";

.player {
    width: 100px;
    height: 50px;
    border: 1px solid green;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.music-player {
    z-index: 2;
    // height: 100px;
    width: 400px;

    color: var(--secondary-color);

    margin: 0 2rem;

    font-size: 3rem;


    &__panel {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button {
        margin: 0 .4rem;

        color: var(--secondary-color);

        cursor: pointer;

        width: 50px;
        height: 50px;
        border: none;
        background-color: transparent;
        font-size: 3rem;
        outline: 0;
    }

    &__button--play {
        font-size: 5rem;
    }

    &__button--active {
        color: green;
    }

    &__button--pause {
        font-size: 5rem;
    }

    &__button--volume {
        position: relative;

        &:hover {
            .music-player__volume {
                opacity: 1;
            }
        }
    }

    &__volume {
        position: absolute;

        bottom: 5rem;
        left: 50%;

        width: 7.5rem;

        transition: 0.3s;
        opacity: 0;

        transform: translate(-50%, -50%) rotate(-90deg);
    }

    &__range-container {
        

        position: relative;
        &::after,
        .volume::after {
            content: '';
            display: inline-block;
            position: absolute;
            top: -10px;
            left: 0;
            background-color: transparent;
            // width: 100%;
            // height: 100%;
        }
    }

    &__range,
    .volume__range {
        display: block;
        margin: 10px auto;

        -webkit-appearance: none;
        background-color: transparent;
        // background: linear-gradient(90deg, var(--secondary-color) 60%, var(--main-color) 60%);
        background: -webkit-linear-gradient(left, var(--secondary-color) 0%, var(--secondary-color) 0%, var(--main-color) 0%, var(--main-color) 100%);

        width: 98%;
        height: 1.5rem;

        outline: none;
        opacity: .7;

        transition: .2s;
        border-radius: 12px;

        box-shadow: 0px 1px 10px 1px var(--secondary-color);
        // box-shadow: 0px 1px 10px 1px black;

        &:hover {
            opacity: .9;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 2.5rem;
            height: 2.5rem;
            background-color: var(--main-color);
            box-shadow: 0px 1px 10px 1px var(--secondary-color);
            border-radius: 50%;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: 2.5rem;
            height: 2.5rem;
            background-color: var(--main-color);
            box-shadow: 0px 1px 10px 1px var(--secondary-color);
            border-radius: 50%;
            cursor: pointer;
        }
    }

    &__values {
        font-size: 1rem;
        color: var(--secondary-color);

        display: flex;
        justify-content: space-between;
    }
}