.player {
    width: 100px;
    height: 50px;
    background: green;

    &__loading {

    }

    &__toggles {
        
    }

    &__loop {

    }

    &__mute {

    }

    &__status {
        
    }

    &__volume {

    }

    &__button {

    }
}

.volume {
    &__label {

    }

    &__slider {

    }
}